.properties {
  --properties-spacing: .5rem;
  width: 13rem;
  min-height: 8rem;
  z-index: 1000;

  padding: var(--properties-spacing);

  background: var(--base02);
  border: 1px solid var(--border);

  margin-bottom: 1rem;
}

.properties-body {
  color: var(--base1);

  label {
    font-size: .75rem;
    padding: .25rem .5rem 0 0;

  }

  input, select  {
    padding: .25rem .5rem;
    font-size: .75rem;
    border: none;
    outline: none;
    outline-offset: 1px;

  }

  .form-row {
    padding: 0 var(--properties-spacing) ;
    margin-bottom: .5rem;
  }

  .field-description {
    font-size: .6rem;
  }

}
